@model IEnumerable<DreamAIMusic.Web.ViewModels.UserModels.MusicModels.OwnSongViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col">
        <div class="section_title text-center"><h1>Featured Albums</h1></div>
        <div class="featured_list">
            <div id="jplayer_2" class="jp-jplayer" style="width: 0px; height: 0px;"><img id="jp_poster_1" src="../images/featured_1.jpg" style="width: 0px; height: 0px;"><audio id="jp_audio_1" preload="metadata" src="file:///C:/Users/Dimitar/Downloads/music/files/bensound-betterdays.mp3" title="Better Days"></audio></div>
            <div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
                <div class="jp-type-playlist">
                    <div class="jp-playlist">
                        <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap row" style="">
                            @foreach (var item in Model)
                            {
                                <li class="jp-playlist-current col-md-3">
                                    <div>
                                        <a href="javascript:;" class="jp-playlist-item-remove" style="display: none;">×</a>
                                        <a href="javascript:;" class="jp-playlist-item jp-playlist-current" tabindex="0">
                                            @item.Name
                                            <span class="jp-artist">Rating: @item.Rating%</span>
                                        </a>
                                        <div class="featured_album">@item.Name.Substring(0, Math.Min(item.Name.Length, 20))</div>
                                        <div class="featured_title">Views: @item.CountViews | Rating: @item.Rating%</div>
                                    </div>
                                    <div class="featured_image">
                                        <img src="../images/featured_1.jpg">
                                    </div>
                                    <div class="album_play_button">
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

